# Python cache files
__pycache__/
*.py[cod]
*$py.class
src/models/__pycache__/

# Virtual environment
venv/

# Database files
chats.db

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db